/Ejercicio 1/nbproject/private/
/Ejercicio 1/build/
/Ejercicio 2/nbproject/private/
/Ejercicio 2/build/
/Ejercicio 3/nbproject/private/
/Ejercicio 3/build/
/Ejercicio 3bis/nbproject/private/
/Ejercicio 3bis/build/
/Ejercicio 4/nbproject/private/
/Ejercicio 4/build/
/Ejercicio 5/nbproject/private/
/Ejercicio 5/build/
/Teoria Ej1/build/
/Teoria Ej1/nbproject/private/
/Teoria Ej2/build/
/Teoria Ej2/nbproject/private/
/Ejercicio Prac1/nbproject/private/
/Ejercicio Prac1/build/
/EjerPrac2/nbproject/private/
/EjerPrac2/build/
/EjercicioPrac3/nbproject/private/
/EjercicioPrac3/build/
/EjercicioPrac4/nbproject/private/
/EjercicioPrac4/build/
/EjercicioPrac5/nbproject/private/
/EjercicioPrac5/build/
/EjercicioPrac6/nbproject/private/
/EjercicioPrac6/build/
/EjercicioPrac6Ari/nbproject/private/